</div>
<script>
    Galleria.loadTheme('/static/themes/fullscreen/galleria.fullscreen.min.js');
        $("#gallery").galleria({
            imageCrop: false
        });
</script>
    </body>
</html>
