<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="shortcut icon" href="favico.ico" />
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta http-equiv="cache control" content="public" />
        <meta http-equiv="expires" content="0" />
        <!-- Fonts -->
        <!-- <link href='http://fonts.googleapis.com/css?family=Quattrocento' rel='stylesheet' type='text/css' /> -->
        <!-- <link href='http://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css' /> -->
        <!-- <link href='http://fonts.googleapis.com/css?family=Candal' rel='stylesheet' type='text/css' /> -->
        <!-- <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css' /> -->
        <!-- My CSS -->
        <script src="/static/jquery-1.6.1.min.js"></script>
        <script src="/static/galleria-1.2.4.min.js"></script>
        <link href="/static/mystyle.css" rel="stylesheet" type="text/css" />
        <title>Gallery</title>
    </head>
    <body>
        <div id="gallery">
            ${images}
        </div>
        <script>
        $(document).ready(function() {
            Galleria.loadTheme('/static/themes/fullscreen/galleria.fullscreen.min.js');
                $("#gallery").galleria({
                imageCrop: false
            });
        });
        </script>
    </body>
</html>
